.profileContainer {
  min-width: 350px;
  width: 100%;
  max-width: 800px;
  height: 100%;  
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--tertiary);
}

.h1 {
  font-size: clamp(1.3rem, 4vw, 3rem);
}

.points {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.flexRow {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-bottom: 1rem;
  min-height: 40px;
}

.bold {
  font-weight: bold;
}

.boldLabel {
  font-weight: bold;
  font-size: 1.2rem;
}

.iconBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconBtn img {
  width: 1.2rem;
}

.saveBtn {
  padding: 0.4em 1em;
  border: none;
  background-color: var(--secondary-dk);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.cancelBtn {
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  color: var(--secondary-dk);
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
}

.error, .formError {
  color: var(--secondary-dk);
  font-weight: bold;
  
}

.error {
  font-size: 0.8rem;
  
}

.formError {
  margin-bottom: 0;
  font-size: 1rem;
}

.errorContainer {
  border: 2px solid var(--secondary-dk);
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}



@media (min-width: 400px) {
  .profileContainer {
    border-radius: 20px;
    margin: 2rem auto;
    height: auto;
    width: 90%;
    
  }
}