

.header {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo {
  height: 30px;
}

.logoText {
  font-family: var(--font-header);
  font-size: 1.5rem;
  margin-bottom: 0;
}



.linkFill, .linkOutline {
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
}

.linkFill {
  background-color: white;
  color: black;
  
}



.linkOutline {
  color: white;
  margin-right: 0.5rem;
}

.buttonOutline {
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}