.footer {
  min-height: 10rem;
  background-color: var(--primary);
  color: white;
  padding: 1rem;
}

.footerLink, .footerLink:active, .footerLink:visited {
  color: white;
  display: block;
}

.footerCopyText {
  text-align: center;
  margin-top: 3rem;
}