:root {
  --primary: #030514;
  --secondary-dk: #ef4444;
  --secondary-lt: #f97b7b;
  --tertiary: #cbd5e1;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Righteous&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}
