@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Righteous&display=swap');
:root {
  --primary: #030514;
  /* --secondary-dk: #ef4444; */
  --secondary-dk: #d81313;
  --secondary-lt: #f97b7b;
  --tertiary: #e8efec;
  --font-header: 'Righteous', cursive;
  --font-body: 'Raleway', sans-serif;
}




body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(2rem, 7vw, 5rem);
}

h2 {
  font-size: clamp(1.3rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.3rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

p {
  font-family: var(--font-body);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.primary {
  background-color: var(--primary);
}

.secondary-lt {
  background-color: var(--secondary-lt);
}

.secondary-dk {
  background-color: var(--secondary-dk);
}

.tertiary {
  background-color: var(--tertiary);
}

.white {
  background-color: white;
}

.h1small {
  font-size: clamp(2rem, 5vw, 4rem);
}

.h2small {
  font-size: clamp(1.3rem, 2vw, 2.5rem);
}

.h3small {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
}

input {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}

button {
  font-family: var(--font-body);
}